In [8]:
# Import libraries
import pandas as pd
from pathlib import Path
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [9]:
#Load CSVs
file_path_2019 = Path("RESOURCES/2019.csv")
file_path_2018 = Path("RESOURCES/2018.csv")
file_path_2017 = Path("RESOURCES/2017.csv")
file_path_2016 = Path("RESOURCES/2016.csv")
file_path_2015 = Path("RESOURCES/2015.csv")
file_path_2014 = Path("RESOURCES/2014.csv")
file_path_2013 = Path("RESOURCES/2013.csv")
file_path_2012 = Path("RESOURCES/2012.csv")
file_path_2011 = Path("RESOURCES/2011.csv")
#Read in CSVs
df_2019 = pd.read_csv(file_path_2019)
df_2018 = pd.read_csv(file_path_2018)
df_2017 = pd.read_csv(file_path_2017)
df_2016 = pd.read_csv(file_path_2016)
df_2015 = pd.read_csv(file_path_2015)
df_2014 = pd.read_csv(file_path_2014)
df_2013 = pd.read_csv(file_path_2013)
df_2012 = pd.read_csv(file_path_2012)
df_2011 = pd.read_csv(file_path_2011)

In [10]:
#Concat Data
combined_epl_df = pd.concat([df_2019, df_2018, df_2017, df_2016, df_2015, df_2014, df_2013, df_2012, df_2011],axis="index", join="inner")
#Dataframe converted from British Date to US Date
combined_epl_df['Date'] = pd.to_datetime(combined_epl_df["Date"])
combined_epl_df["Date"] = combined_epl_df["Date"].dt.strftime("%m-%d-%Y")
combined_epl_df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BWA,IWH,IWD,IWA,WHH,WHD,WHA,VCH,VCD,VCA
0,E0,09-08-2019,Liverpool,Norwich,4,1,H,4.0,0.0,H,...,18.50,1.15,8.00,18.00,1.12,8.5,21.00,1.14,9.5,23.00
1,E0,10-08-2019,West Ham,Man City,0,5,A,0.0,1.0,A,...,1.26,11.00,6.10,1.25,13.00,6.0,1.24,12.00,6.5,1.25
2,E0,10-08-2019,Bournemouth,Sheffield United,1,1,D,0.0,0.0,D,...,3.90,1.97,3.55,3.80,2.00,3.5,3.80,2.00,3.6,4.00
3,E0,10-08-2019,Burnley,Southampton,3,0,H,0.0,0.0,D,...,2.75,2.65,3.20,2.75,2.70,3.2,2.75,2.70,3.3,2.80
4,E0,10-08-2019,Crystal Palace,Everton,0,0,D,0.0,0.0,D,...,2.35,3.10,3.20,2.40,3.10,3.3,2.35,3.20,3.3,2.45

In [11]:
#Set Date as index
combined_epl_df.set_index('Date', inplace = True)
combined_epl_df.head()

,Div,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,BWA,IWH,IWD,IWA,WHH,WHD,WHA,VCH,VCD,VCA
Date,,,,,,,,,,,,,,,,,,,,,
09-08-2019,E0,Liverpool,Norwich,4,1,H,4.0,0.0,H,M Oliver,...,18.50,1.15,8.00,18.00,1.12,8.5,21.00,1.14,9.5,23.00
10-08-2019,E0,West Ham,Man City,0,5,A,0.0,1.0,A,M Dean,...,1.26,11.00,6.10,1.25,13.00,6.0,1.24,12.00,6.5,1.25
10-08-2019,E0,Bournemouth,Sheffield United,1,1,D,0.0,0.0,D,K Friend,...,3.90,1.97,3.55,3.80,2.00,3.5,3.80,2.00,3.6,4.00
10-08-2019,E0,Burnley,Southampton,3,0,H,0.0,0.0,D,G Scott,...,2.75,2.65,3.20,2.75,2.70,3.2,2.75,2.70,3.3,2.80
10-08-2019,E0,Crystal Palace,Everton,0,0,D,0.0,0.0,D,J Moss,...,2.35,3.10,3.20,2.40,3.10,3.3,2.35,3.20,3.3,2.45

In [12]:
# Check data for nulls, check for sum...
combined_epl_df.dropna()
combined_epl_df.head()

,Div,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,BWA,IWH,IWD,IWA,WHH,WHD,WHA,VCH,VCD,VCA
Date,,,,,,,,,,,,,,,,,,,,,
09-08-2019,E0,Liverpool,Norwich,4,1,H,4.0,0.0,H,M Oliver,...,18.50,1.15,8.00,18.00,1.12,8.5,21.00,1.14,9.5,23.00
10-08-2019,E0,West Ham,Man City,0,5,A,0.0,1.0,A,M Dean,...,1.26,11.00,6.10,1.25,13.00,6.0,1.24,12.00,6.5,1.25
10-08-2019,E0,Bournemouth,Sheffield United,1,1,D,0.0,0.0,D,K Friend,...,3.90,1.97,3.55,3.80,2.00,3.5,3.80,2.00,3.6,4.00
10-08-2019,E0,Burnley,Southampton,3,0,H,0.0,0.0,D,G Scott,...,2.75,2.65,3.20,2.75,2.70,3.2,2.75,2.70,3.3,2.80
10-08-2019,E0,Crystal Palace,Everton,0,0,D,0.0,0.0,D,J Moss,...,2.35,3.10,3.20,2.40,3.10,3.3,2.35,3.20,3.3,2.45

In [13]:
#Drop Excess columns half time
combined_epl_df = combined_epl_df.drop(columns=['Div', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA'])
combined_epl_df.head()

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,B365H,B365D,B365A
Date,,,,,,,,,,,
09-08-2019,Liverpool,Norwich,4,1,H,4.0,0.0,H,1.14,10.00,19.00
10-08-2019,West Ham,Man City,0,5,A,0.0,1.0,A,12.00,6.50,1.22
10-08-2019,Bournemouth,Sheffield United,1,1,D,0.0,0.0,D,1.95,3.60,3.60
10-08-2019,Burnley,Southampton,3,0,H,0.0,0.0,D,2.62,3.20,2.75
10-08-2019,Crystal Palace,Everton,0,0,D,0.0,0.0,D,3.00,3.25,2.37

In [15]:
#Rename Columns 
combined_epl_df = combined_epl_df.rename(columns={
    "FTHG": "FT_HomeGoals", "FTAG": "FT_AwayGoals", "FTR": "FT_Result", "HTHG": "HT_HomeGoals", "HTAG": "HT_AwayGoals", "HTR": "HT_Result", "B365H" : "Bet365_HomeWin_Odds", "B365D": "Bet365_Draw_Odds", "B365A": "Bet365_AwayWin_Odds"})
combined_epl_df.head()

,HomeTeam,AwayTeam,FT_HomeGoals,FT_AwayGoals,FT_Result,HT_HomeGoals,HT_AwayGoals,HT_Result,Bet365_HomeWin_Odds,Bet365_Draw_Odds,Bet365_AwayWin_Odds
Date,,,,,,,,,,,
09-08-2019,Liverpool,Norwich,4,1,H,4.0,0.0,H,1.14,10.00,19.00
10-08-2019,West Ham,Man City,0,5,A,0.0,1.0,A,12.00,6.50,1.22
10-08-2019,Bournemouth,Sheffield United,1,1,D,0.0,0.0,D,1.95,3.60,3.60
10-08-2019,Burnley,Southampton,3,0,H,0.0,0.0,D,2.62,3.20,2.75
10-08-2019,Crystal Palace,Everton,0,0,D,0.0,0.0,D,3.00,3.25,2.37

In [21]:
for i in combined_epl_df['FT_Result']:
    if i = 'H', i = 1
else:
    i = 0

SyntaxError: invalid syntax (<ipython-input-21-cd969b5b4c34>, line 2)